/* Base Styles */
:root {
  --primary-color: #ffb22c;
  --secondary-color: #03a791;
  --dark-color: #2d3436;
  --light-color: #fff8f0;
  --success-color: #2ecc71;
  --fon-color: #526d82;
  --danger-color: #e74c3c;
  --font-main: cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  line-height: 1.6;
  color: var(--dark-color);
  background-color: #dfdfdf;
  background-image: 
    linear-gradient(#b7b7bc 1px, transparent 1px), 
    linear-gradient(to right, #b7b7bc 1px, #dfdfdf 1px);
  background-size: 20px 20px;
}

.btn-edit {
  background-color: var(--primary-color);
  color: #1f2937;
  text-decoration: none;
}
.btn-edit:hover {
  background-color: var(--fon-color);
  color: white;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}
.btn-delete:hover {
  background-color: var(--fon-color);
}
.btn {
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    text-align: center;
    flex: 1;
}


.btn-success {
  background-color: var(--success-color);
  margin-bottom: 10px;
  color: black;
}

.btn-success:hover {
  background-color: var(--fon-color);
  color: white;
}
