:root {
  --primary-color: #ffb22c;
  --secondary-color: #03a791;
  --dark-color: #2d3436;
  --light-color: #fff8f0;
  --success-color: #2ecc71;
  --fon-color: #526d82;
  --danger-color: #e74c3c;
  --font-main: cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  color: var(--dark-color);
  /* background-color: #f9f9f9; */
  background-color: #dfdfdf;
  opacity: 0.8;
  background-image: linear-gradient(#b7b7bc 1px, transparent 1px), linear-gradient(to right, #b7b7bc 1px, #dfdfdf 1px);
  background-size: 20px 20px;
}

input,
textarea {
  border-radius: 20px !important;
}

.login-container {
  background: #ffffffa6;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 31rem;
}

.input-container input,
.form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.form{
    background-color: #fff;
    display: block;
    padding: 1rem;
    width: 27rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.login-form-title {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.7rem;
  color: var(--secondary-color);
}

.input-container {
  position: relative;
}

.input-container {
  margin-bottom: 1rem;
}

.input-container input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.submit {
  width: 100%;
  padding: 0.5rem;
  background: var(--secondary-color);
  border: none;
  color: white;
  cursor: pointer;
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background: var(--secondary-color);
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}
.submit:hover {
  background: var(--fon-color);
}

.signup-link {
  text-align: center;
  margin-top: 1rem;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 0.5rem;
}
