<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/_base.css" />
    <link rel="stylesheet" href="/static/css/add_recipe.css" />
  </head>
  <body>
    <main class="container">
      <div id="add-recipe-view" class="view">
        <h2 id="form-title">Add New Recipe</h2>
        <div class="">
          <a type="submit" href="/home" class="btn btn-success" id="save-recipe">
            <i class="fa-solid fa-arrow-left"></i> Home</a
          >
        </div>
        <form id="recipe-form">
          <input type="hidden" id="recipe-id" />
          <div class="form-group">
            <label for="recipe-name">Recipe Name</label>
            <input type="text"  id="recipe-name" name="name" required />
          </div>

          <div class="form-group">
            <label for="recipe-image">Image URL</label>
            <input type="url"  id="recipe-image" name="image_url" required placeholder="https://example.com/image.jpg" />
          </div>

          <div class="form-group">
            <label for="prep-time">Preparation Time (minutes)</label>
            <input type="number"  id="prep-time" name="prep_time" min="1" required />
          </div>

          <div class="form-group">
            <label for="cook-time">Cooking Time (minutes)</label>
            <input type="number" id="cook-time" name="cook_time" min="1" required />
          </div>

          <div class="form-group">
            <label for="ingredients-list">Ingredients</label>
            <div class="ingredients-container" id="ingredients-container">
              <div class="ingredient-row">
                <textarea id="ingredients-list" name="ingredients" rows="4"  required></textarea>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="instructions-text">Instructions</label>
            <textarea id="instructions-text" name="instructions" rows="8" required></textarea>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-success" id="save-recipe">Save Recipe</button>
            <a href="/recipes" class="btn btn-delete">Cancel</a>
          </div>

          <div class="message" id="recipe-message"></div>
        </form>
      </div>
    </main>
    <!-- <script src="/static/js/recipes.js"></script> -->
    <script src="/static/js/add_recipe.js"></script>
    <script src="https://kit.fontawesome.com/fa271e3277.js" crossorigin="anonymous"></script>
  </body>
</html>
