<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/_base.css" />
    <link rel="stylesheet" href="/static/css/register.css" />
  </head>
  <body>
    <div class="login-container">
      <form class="form" id="register-form">
        <h1 class="login-form-title">Create a new account</h1>
        <div id="error-message" class="error"></div>

        <div class="input-container">
          <input type="text" id="username" placeholder="Enter username or email" required />
        </div>

        <div class="input-container">
          <input type="password" id="password" placeholder="Enter Password" required />
        </div>

        <div class="input-container">
          <input type="password" id="re-password" placeholder="Re-Enter password" required />
        </div>

        <button type="submit" class="submit">Sign up</button>

        <p class="signup-link">
          Already have an account?
          <a href="/login">Sign in</a>
        </p>
      </form>
    </div>
    <script src="/static/js/auth.js"></script>
  </body>
</html>
